/* amarchinguunii css */
*{
    margin:0;
    padding:0;
}
.header{
    width: 100%;
    height: 596px;
    background-color: #59007B;
}
.menu{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}
.menu .logo{
    color: white;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 50px;
    cursor: pointer;
}
.menu .menu-item{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 30px;
    color: white;
    justify-content: end;
    margin-top: 50px;
}
.menu .menu-items{
    cursor: pointer;
}
.menu .menu-items:hover{
    background-color: white;
    color: black;
}
.word{
    width: 100%;
    height: 75%;
    color:white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
button{
    width: 200px;
    height: 50px;
    background-color: orange;
    color: white;
    cursor: pointer;
}
/* amarchinguunii css */
/* huslengiin css */
.tsenher{ 
    background-color: rgba(231, 241, 248, 1)    ;
    width: 100vw;
    height: 1673px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.amazing { 
    margin-top: 10vh;
     font-size: 40.63px; 
     color: rgba(60, 71, 97, 1);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-bottom: 3vh ;
    
}
.line { 
    width: 87px;
    height: 4.13px;
    background-color: rgba(189, 209, 223, 1);
}
.mest { 
    margin-top: 3vh;    
    color: rgba(60, 71, 97, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}
.humans1 { 
    height: 491px;
    width: 760px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.Амарчингүүн{ 
    font-size: 24px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.amarchinguunscorner { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CEO { 
    color: rgba(48, 186, 231, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;

}
.CEOslorem { 
    text-align: center;
    margin-top: 20px;
}
.khuslenscorner{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.jpg { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.Хүслэн {
    font-size: 24px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Developer { 
    color: rgba(48, 186, 231, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.Developerslorem { 
    text-align: center;
    margin-top: 20px;
}
.temuulenscorner{
    display: flex;
    flex-direction: column;
    align-items: center;

}




/* huslengiin css */